# specVersion: 0.9.7
openapi: 3.0.1
info:
  title: WooCommerce REST API
  description: The REST API is a powerful part of WooCommerce which lets you read and write various parts of WooCommerce data such as orders, products, coupons, customers, and shipping zones.
  version: v3
  contact:
    name: WTX Labs Team
    url: https://github.com/wtx-labs/woocommerce-api-openapi-specification
servers:
  - url: https://example-woocommerce-shop.com/wp-json/wc/v3
security:
  - basicAuth: []
tags:
  - name: Customers
  - name: Orders
  - name: Products
  - name: Product variations
  - name: Product attributes
  - name: Product attribute terms
  - name: Product categories
  - name: Product shipping classes
  - name: Product tags
  - name: Product reviews
  - name: Reports
paths:
  /customers:
    post:
      tags:
        - Customers
      summary: This API helps you to create a new customer.
      operationId: createCustomer
      requestBody:
        description: Customer object with data to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
        required: true
      responses:
        '200':
          description: Returns specified customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - Customers
      summary: This API helps you to view all the customers.
      operationId: listAllCustomers
      parameters:
        - name: context
          in: query
          description: 'Scope under which the request is made; determines fields present in response. Options: view and edit. Default is view.'
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
        - name: page
          in: query
          description: 'Current page of the collection. Default is 1.'
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: 'Maximum number of items to be returned in result set. Default is 10.'
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: 'Limit results to those matching a string.'
          schema:
            type: string
        - name: exclude
          in: query
          description: 'Ensure result set excludes specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: 'Limit result set to specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: offset
          in: query
          description: 'Offset the result set by a specific number of items.'
          schema:
            type: integer
        - name: order
          in: query
          description: 'Order sort attribute ascending or descending. Options: asc and desc. Default is asc.'
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
        - name: orderby
          in: query
          description: 'Sort collection by object attribute. Options: id, include, name and registered_date. Default is name.'
          schema:
            type: string
            enum:
              - id
              - include
              - name
              - registered_date
            default: name
        - name: email
          in: query
          description: 'Limit result set to resources with a specific email.'
          schema:
            type: string
        - name: role
          in: query
          description: 'Limit result set to resources with a specific role. Options: all, administrator, editor, author, contributor, subscriber, customer and shop_manager. Default is customer.'
          schema:
            type: string
            enum:
              - all
              - administrator
              - editor
              - author
              - contributor
              - subscriber
              - customer
              - shop_manager
            default: customer
      responses:
        '200':
          description: Returns list of customers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /customers/{customerId}:
    get:
      tags:
        - Customers
      summary: This API lets you retrieve and view a specific customer by ID.
      operationId: retrieveCustomerById
      parameters:
        - name: customerId
          in: path
          description: ID of customer to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      tags:
        - Customers
      summary: This API lets you make changes to a customer.
      operationId: updateCustomerById
      parameters:
        - name: customerId
          in: path
          description: ID of customer to update
          required: true
          schema:
            type: integer
      requestBody:
        description: Customer object with data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
        required: true
      responses:
        '200':
          description: Returns updated customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-codegen-request-body-name: customer
    delete:
      tags:
        - Customers
      summary: This API helps you delete a customer.
      operationId: deleteCustomerById
      parameters:
        - name: customerId
          in: path
          description: ID of customer to delete
          required: true
          schema:
            type: integer
        - name: force
          in: query
          description: Required to be true, as resource does not support trashing.
          required: true
          schema:
            type: string
        - name: reassign
          in: query
          description: User ID to reassign posts to.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Returns deleted customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'  
  /customers/batch:
    post:
      tags: [Customers]
      summary: Batch create, update, and delete customers
      operationId: batchCustomers
      requestBody:
        description: Batch create, update, and delete customers
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/Customer'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/Customer'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Batch operation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  create:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  update:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  delete:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
  /products:
    post:
      tags:
        - Products
      summary: This API helps you to create a new product.
      operationId: createProduct
      requestBody:
        description: Product object with data to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
        required: true
      responses:
        '201':
          description: Returns created product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - Products
      summary: This API helps you to view all the products.
      operationId: listAllProducts
      parameters:
        - name: context
          in: query
          description: 'Scope under which the request is made; determines fields present in response. Options: view and edit. Default is view.'
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
        - name: page
          in: query
          description: Current page of the collection. Default is 1.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set. Default is 10.
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: Limit results to those matching a string.
          schema:
            type: string
        - name: after
          in: query
          description: Limit response to resources published after a given ISO8601 compliant date.
          schema:
            type: string
        - name: before
          in: query
          description: Limit response to resources published before a given ISO8601 compliant date.
          schema:
            type: string
        - name: modified_after
          in: query
          description: Limit response to resources modified after a given ISO8601 compliant date.
          schema:
            type: string
        - name: modified_before
          in: query
          description: Limit response to resources modified before a given ISO8601 compliant date.
          schema:
            type: string
        - name: dates_are_gmt
          in: query
          description: Whether to consider GMT post dates when limiting response by published or modified date.
          schema:
            type: boolean
        - name: exclude
          in: query
          description: Ensure result set excludes specific IDs.
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: Limit result set to specific ids.
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: offset
          in: query
          description: Offset the result set by a specific number of items.
          schema:
            type: integer
        - name: order
          in: query
          description: 'Order sort attribute ascending or descending. Options: asc and desc. Default is desc.'
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: orderby
          in: query
          description: 'Sort collection by object attribute. Options: date, modified, id, include, title, slug, price, popularity, rating, and menu_order. Default is date.'
          schema:
            type: string
            enum:
              - date
              - modified
              - id
              - include
              - title
              - slug
              - price
              - popularity
              - rating
              - menu_order
            default: date
        - name: parent
          in: query
          description: Limit result set to those of particular parent IDs.
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: parent_exclude
          in: query
          description: Limit result set to all items except those of a particular parent ID.
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: slug
          in: query
          description: Limit result set to products with a specific slug.
          schema:
            type: string
        - name: status
          in: query
          description: 'Limit result set to products assigned a specific status. Options: any, draft, pending, private and publish. Default is any.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - any
                - draft
                - pending
                - private
                - publish
              default: any
        - name: include_status
          in: query
          description: 'Limit result set to products with any of the specified statuses. Multiple statuses can be provided as a comma-separated list. Takes precedence over the status parameter. Options: any, future, trash, draft, pending, private, and publish.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - any
                - future
                - trash
                - draft
                - pending
                - private
                - publish
        - name: exclude_status
          in: query
          description: 'Exclude products from result set with any of the specified statuses. Multiple statuses can be provided as a comma-separated list. Takes precedence over the include_status parameter. Options: future, trash, draft, pending, private, and publish.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - future
                - trash
                - draft
                - pending
                - private
                - publish
        - name: type
          in: query
          description: 'Limit result set to products assigned a specific type. Options: simple, grouped, external and variable.'
          schema:
            type: string
            enum:
              - simple
              - grouped
              - external
              - variable
        - name: include_types
          in: query
          description: 'Limit result set to products with any of the types. Multiple statuses can be provided as a comma-separated list. Takes precedence over the type parameter. Options: simple, grouped, external and variable.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - simple
                - grouped
                - external
                - variable
        - name: exclude_types
          in: query
          description: 'Exclude products from result set with any of the specified types. Multiple statuses can be provided as a comma-separated list. Takes precedence over the include_types parameter. Options: simple, grouped, external and variable.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - simple
                - grouped
                - external
                - variable
        - name: sku
          in: query
          description: Limit result set to products with a specific SKU.
          schema:
            type: string
        - name: featured
          in: query
          description: Limit result set to featured products.
          schema:
            type: boolean
        - name: category
          in: query
          description: Limit result set to products assigned a specific category ID.
          schema:
            type: string
        - name: tag
          in: query
          description: Limit result set to products assigned a specific tag ID.
          schema:
            type: string
        - name: shipping_class
          in: query
          description: Limit result set to products assigned a specific shipping class ID.
          schema:
            type: string
        - name: attribute
          in: query
          description: Limit result set to products with a specific attribute.
          schema:
            type: string
        - name: attribute_term
          in: query
          description: Limit result set to products with a specific attribute term ID (required an assigned attribute).
          schema:
            type: string
        - name: tax_class
          in: query
          description: 'Limit result set to products with a specific tax class. Default options: standard, reduced-rate and zero-rate.'
          schema:
            type: string
            enum:
              - standard
              - reduced-rate
              - zero-rate
        - name: on_sale
          in: query
          description: Limit result set to products on sale.
          schema:
            type: boolean
        - name: min_price
          in: query
          description: Limit result set to products based on a minimum price.
          schema:
            type: string
        - name: max_price
          in: query
          description: Limit result set to products based on a maximum price.
          schema:
            type: string
        - name: stock_status
          in: query
          description: 'Limit result set to products with specified stock status. Options: instock, outofstock and onbackorder.'
          schema:
            type: string
            enum:
              - instock
              - outofstock
              - onbackorder
        - name: virtual
          in: query
          description: Limit result set to virtual products.
          schema:
            type: boolean
        - name: downloadable
          in: query
          description: Limit result set to downloadable products.
          schema:
            type: boolean

      responses:
        '200':
          description: Returns list of products.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /products/{productId}:
    get:
      tags:
        - Products
      summary: This API lets you retrieve and view a specific product by ID.
      operationId: retrieveProductById
      parameters:
        - name: productId
          in: path
          description: ID of product to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      tags:
        - Products
      summary: This API lets you make changes to a product.
      operationId: updateProductById
      parameters:
        - name: productId
          in: path
          description: ID of product to update
          required: true
          schema:
            type: integer
      requestBody:
        description: Product object with data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
        required: true
      responses:
        '200':
          description: Returns updated product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-codegen-request-body-name: product
    delete:
      tags:
        - Products
      summary: This API helps you delete a product.
      operationId: deleteProductById
      parameters:
        - name: productId
          in: path
          description: ID of product to delete
          required: true
          schema:
            type: integer
        - name: force
          in: query
          description: Required to be true, as resource does not support trashing.
          required: true
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Returns deleted product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /products/{productId}/duplicate:
    post:
      tags:
        - Products
      summary: This API helps you to duplicate a product.
      operationId: duplicateProduct
      parameters:
        - name: productId
          in: path
          description: ID of product to duplicate
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: Returns newly duplicated product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /products/batch:
    post:
      tags:
        - Products
      summary: Batch create, update, and delete products
      operationId: batchProducts
      requestBody:
        description: Batch create, update, and delete products
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/Product'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/Product'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Batch operation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  create:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  update:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  delete:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
  /products/{productId}/variations:
    post:
      tags:
        - Product variations
      summary: This API helps you to create a new product variation.
      operationId: createProductVariation
      parameters:
        - name: productId
          in: path
          description: ID of parent product for variation to create
          required: true
          schema:
            type: integer
      requestBody:
        description: Product variation object with data to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVariation'
        required: true
      responses:
        '201':
          description: Returns created product variation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - Product variations
      summary: This API helps you to view all the product variations.
      operationId: listAllProductVariations
      parameters:
        - name: productId
          in: path
          description: 'ID of parent product for variations to return'
          required: true
          schema:
            type: integer
        - name: context
          in: query
          description: 'Scope under which the request is made; determines fields present in response. Options: view and edit. Default is view.'
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
        - name: page
          in: query
          description: 'Current page of the collection. Default is 1.'
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: 'Maximum number of items to be returned in result set. Default is 10.'
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: 'Limit results to those matching a string.'
          schema:
            type: string
        - name: after
          in: query
          description: 'Limit response to resources published after a given ISO8601 compliant date.'
          schema:
            type: string
            format: date-time
        - name: before
          in: query
          description: 'Limit response to resources published before a given ISO8601 compliant date.'
          schema:
            type: string
            format: date-time
        - name: exclude
          in: query
          description: 'Ensure result set excludes specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: 'Limit result set to specific ids.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: offset
          in: query
          description: 'Offset the result set by a specific number of items.'
          schema:
            type: integer
        - name: order
          in: query
          description: 'Order sort attribute ascending or descending. Options: asc and desc. Default is desc.'
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: orderby
          in: query
          description: 'Sort collection by object attribute. Options: date, modified, id, include, title and slug. Default is date.'
          schema:
            type: string
            enum:
              - date
              - modified
              - id
              - include
              - title
              - slug
            default: date
        - name: parent
          in: query
          description: 'Limit result set to those of particular parent IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: parent_exclude
          in: query
          description: 'Limit result set to all items except those of a particular parent ID.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: slug
          in: query
          description: 'Limit result set to products with a specific slug.'
          schema:
            type: string
        - name: status
          in: query
          description: 'Limit result set to products assigned a specific status. Options: any, draft, pending, private and publish. Default is any.'
          explode: false
          schema:
            type: array
            items:
              type: string
              default: any
              enum:
                - any
                - draft
                - pending
                - private
                - publish
        - name: include_status
          in: query
          description: 'Limit result set to product variations with any of the specified statuses. Multiple statuses can be provided as a comma-separated list. Takes precedence over the status parameter. Options: any, future, trash, draft, pending, private, and publish.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - any
                - future
                - trash
                - draft
                - pending
                - private
                - publish
        - name: exclude_status
          in: query
          description: 'Exclude product variations from result set with any of the specified statuses. Multiple statuses can be provided as a comma-separated list. Takes precedence over the include_status parameter. Options: future, trash, draft, pending, private, and publish.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - future
                - trash
                - draft
                - pending
                - private
                - publish
        - name: sku
          in: query
          description: 'Limit result set to products with a specific SKU.'
          schema:
            type: string
        - name: tax_class
          in: query
          description: 'Limit result set to products with a specific tax class. Default options: standard, reduced-rate and zero-rate.'
          schema:
            type: string
            enum:
              - standard
              - reduced-rate
              - zero-rate
        - name: on_sale
          in: query
          description: 'Limit result set to products on sale.'
          schema:
            type: boolean
        - name: min_price
          in: query
          description: 'Limit result set to products based on a minimum price.'
          schema:
            type: string
        - name: max_price
          in: query
          description: 'Limit result set to products based on a maximum price.'
          schema:
            type: string
        - name: stock_status
          in: query
          description: 'Limit result set to products with specified stock status. Options: instock, outofstock and onbackorder.'
          schema:
            type: string
            enum:
              - instock
              - outofstock
              - onbackorder
        - name: virtual
          in: query
          description: 'Limit result set to virtual product variations.'
          schema:
            type: boolean
        - name: downloadable
          in: query
          description: 'Limit result set to downloadable product variations.'
          schema:
            type: boolean
      responses:
        '200':
          description: Returns list of product variations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductVariation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /products/{productId}/variations/{variationId}:
    get:
      tags:
        - Product variations
      summary: This API lets you retrieve and view a specific product variation by ID.
      operationId: retrieveProductVariationById
      parameters:
        - name: productId
          in: path
          description: ID of parent product for variation to return
          required: true
          schema:
            type: integer
        - name: variationId
          in: path
          description: ID of variation to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      tags:
        - Product variations
      summary: 'This API lets you make changes to a product variation.'
      operationId: updateProductVariationById
      parameters:
        - name: productId
          in: path
          description: 'ID of parent product for variation to update'
          required: true
          schema:
            type: integer
        - name: variationId
          in: path
          description: 'ID of variation to update'
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Product variation object with data to update.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVariation'
        required: true
      responses:
        '200':
          description: 'Returns updated product variation.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariation'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-codegen-request-body-name: productVariation
    delete:
      tags:
        - Product variations
      summary: 'This API helps you delete a product variation.'
      operationId: deleteProductVariationById
      parameters:
        - name: productId
          in: path
          description: 'ID of parent product for variation to delete'
          required: true
          schema:
            type: integer
        - name: variationId
          in: path
          description: 'ID of variation to delete'
          required: true
          schema:
            type: integer
        - name: force
          in: query
          description: 'Required to be true, as resource does not support trashing.'
          required: true
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: 'Returns deleted product variation.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariation'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /products/{productId}/variations/batch:
    post:
      tags:
        - Product variations
      summary: Batch create, update, and delete product variations
      operationId: batchProductVariations
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Batch create, update, and delete product variations
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductVariation'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductVariation'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Batch operation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  create:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductVariation'
                  update:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductVariation'
                  delete:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductVariation'
  /products/attributes:
    get:
      tags:
        - Product attributes
      summary: List all product attributes
      operationId: listAllProductAttributes
      parameters:
        - name: context
          in: query
          description: 'Scope under which the request is made; determines fields present in response. Options: view and edit. Default is view.'
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
      responses:
        '200':
          description: Returns list of product attributes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAttribute'
    post:
      tags:
        - Product attributes
      summary: Create a product attribute
      operationId: createProductAttribute
      requestBody:
        description: Product attribute object with data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAttribute'
        required: true
      responses:
        '201':
          description: Returns created product attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttribute'
  /products/attributes/{attributeId}:
    get:
      tags:
        - Product attributes
      summary: Retrieve a product attribute
      operationId: retrieveProductAttribute
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified product attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttribute'
    put:
      tags:
        - Product attributes
      summary: Update a product attribute
      operationId: updateProductAttribute
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Product attribute object with data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAttribute'
        required: true
      responses:
        '200':
          description: Returns updated product attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttribute'
    delete:
      tags:
        - Product attributes
      summary: Delete a product attribute
      operationId: deleteProductAttribute
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
        - name: force
          in: query
          description: Required to be true, as resource does not support trashing.
          required: true
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Product attribute deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttribute'
  /products/attributes/batch:
    post:
      tags:
        - Product attributes
      summary: Batch update product attributes
      operationId: batchUpdateProductAttributes
      requestBody:
        description: Batch create, update, delete product attributes
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductAttribute'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductAttribute'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Returns batch operation result
          content:
            application/json:
              schema:
                type: object
  /products/attributes/{attributeId}/terms:
    get:
      tags:
        - Product attribute terms
      summary: List all terms for a product attribute
      operationId: listAllAttributeTerms
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
        - name: context
          in: query
          description: 'Scope under which the request is made; determines fields present in response. Options: view and edit. Default is view.'
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
        - name: page
          in: query
          description: Current page of the collection. Default is 1.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set. Default is 10.
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: Limit results to those matching a string.
          schema:
            type: string
        - name: orderby
          in: query
          description: 'Sort collection by resource attribute. Options: name, slug, term_group, description, count. Default is name.'
          schema:
            type: string
            enum:
              - name
              - slug
              - term_group
              - description
              - count
            default: name
        - name: order
          in: query
          description: 'Order sort attribute ascending or descending. Options: asc and desc. Default is asc.'
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
        - name: hide_empty
          in: query
          description: Whether to hide resources not assigned to any products. Default is false.
          schema:
            type: boolean
            default: false
        - name: parent
          in: query
          description: Limit result set to resources assigned to a specific parent.
          schema:
            type: integer
        - name: product
          in: query
          description: Limit result set to resources assigned to a specific product.
          schema:
            type: integer
        - name: slug
          in: query
          description: Limit result set to resources with a specific slug.
          schema:
            type: string
        - name: include
          in: query
          description: Limit result set to specific IDs.
          schema:
            type: array
            items:
              type: integer
        - name: exclude
          in: query
          description: Ensure result set excludes specific IDs.
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: Returns list of attribute terms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAttributeTerm'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      tags:
        - Product attribute terms
      summary: Create an attribute term
      operationId: createAttributeTerm
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Attribute term object with data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAttributeTerm'
        required: true
      responses:
        '201':
          description: Returns created attribute term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttributeTerm'
  /products/attributes/{attributeId}/terms/{termId}:
    get:
      tags:
        - Product attribute terms
      summary: Retrieve an attribute term
      operationId: retrieveAttributeTerm
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
        - name: termId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified attribute term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttributeTerm'
    put:
      tags:
        - Product attribute terms
      summary: Update an attribute term
      operationId: updateAttributeTerm
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
        - name: termId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Attribute term object with data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAttributeTerm'
        required: true
      responses:
        '200':
          description: Returns updated attribute term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttributeTerm'
    delete:
      tags:
        - Product attribute terms
      summary: Delete an attribute term
      operationId: deleteAttributeTerm
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
        - name: termId
          in: path
          required: true
          schema:
            type: integer
        - name: force
          in: query
          required: true
          description: Required to be true, as resource does not support trashing.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Attribute term deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAttributeTerm'
  /products/attributes/{attributeId}/terms/batch:
    post:
      tags:
        - Product attribute terms
      summary: Batch update attribute terms
      operationId: batchUpdateAttributeTerms
      parameters:
        - name: attributeId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Batch create, update, delete attribute terms
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductAttributeTerm'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductAttributeTerm'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Returns batch operation result
          content:
            application/json:
              schema:
                type: object
  /products/categories:
    post:
      tags:
        - Product categories
      summary: This API helps you to create a new product category.
      operationId: createProductCategory
      requestBody:
        description: Product category object with data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategory'
        required: true
      responses:
        '201':
          description: Returns created product category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategory'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    get:
      tags:
        - Product categories
      summary: This API lets you retrieve all product categories.
      operationId: listAllProductCategories
      parameters:
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response
          schema:
            type: string
            enum: [view, edit]
            default: view
        - name: page
          in: query
          description: Current page of the collection
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: Limit results to those matching a string
          schema:
            type: string
        - name: exclude
          in: query
          description: Ensure result set excludes specific ids
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: Limit result set to specific ids
          schema:
            type: array
            items:
              type: integer
        - name: order
          in: query
          description: Order sort attribute ascending or descending
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: orderby
          in: query
          description: Sort collection by resource attribute
          schema:
            type: string
            enum: [id, include, name, slug, term_group, description, count]
            default: name
        - name: hide_empty
          in: query
          description: Whether to hide resources not assigned to any products
          schema:
            type: boolean
            default: false
        - name: parent
          in: query
          description: Limit result set to resources assigned to a specific parent
          schema:
            type: integer
        - name: product
          in: query
          description: Limit result set to resources assigned to a specific product
          schema:
            type: integer
        - name: slug
          in: query
          description: Limit result set to resources with a specific slug
          schema:
            type: string
      responses:
        '200':
          description: Returns list of product categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductCategory'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /products/categories/{categoryId}:
    get:
      tags:
        - Product categories
      summary: This API lets you retrieve a product category by ID.
      operationId: retrieveProductCategory
      parameters:
        - name: categoryId
          in: path
          description: ID of product category to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified product category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategory'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      tags:
        - Product categories
      summary: This API lets you make changes to a product category.
      operationId: updateProductCategory
      parameters:
        - name: categoryId
          in: path
          description: ID of product category to update
          required: true
          schema:
            type: integer
      requestBody:
        description: Product category object with data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategory'
        required: true
      responses:
        '200':
          description: Returns updated product category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategory'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    delete:
      tags:
        - Product categories
      summary: This API helps you delete a product category.
      operationId: deleteProductCategory
      parameters:
        - name: categoryId
          in: path
          description: ID of product category to delete
          required: true
          schema:
            type: integer
        - name: force
          in: query
          description: Required to be true, as resource does not support trashing
          required: true
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Product category deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategory'
  /products/categories/batch:
    post:
      tags:
        - Product categories
      summary: Batch create, update, and delete product categories
      operationId: batchProductCategories
      requestBody:
        description: Batch create, update, and delete product categories
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductCategory'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductCategory'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Batch operation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  create:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductCategory'
                  update:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductCategory'
                  delete:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductCategory'
  /products/shipping-classes:
    get:
      tags:
        - Product shipping classes
      summary: List all shipping classes
      operationId: listAllShippingClasses
      parameters:
        - name: context
          in: query
          description: 'Scope under which the request is made; determines fields present in response. Options: view and edit. Default is view.'
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
        - name: page
          in: query
          description: Current page of the collection. Default is 1.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set. Default is 10.
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: Limit results to those matching a string.
          schema:
            type: string
        - name: orderby
          in: query
          description: 'Sort collection by resource attribute. Options: id, include, name, slug, term_group, description, count. Default is name.'
          schema:
            type: string
            enum:
              - id
              - include
              - name
              - slug
              - term_group
              - description
              - count
            default: name
        - name: order
          in: query
          description: 'Order sort attribute ascending or descending. Options: asc and desc. Default is asc.'
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
        - name: hide_empty
          in: query
          description: Whether to hide resources not assigned to any products. Default is false.
          schema:
            type: boolean
            default: false
        - name: parent
          in: query
          description: Limit result set to resources assigned to a specific parent.
          schema:
            type: integer
        - name: product
          in: query
          description: Limit result set to resources assigned to a specific product.
          schema:
            type: integer
        - name: slug
          in: query
          description: Limit result set to resources with a specific slug.
          schema:
            type: string
        - name: include
          in: query
          description: Limit result set to specific IDs.
          schema:
            type: array
            items:
              type: integer
        - name: exclude
          in: query
          description: Ensure result set excludes specific IDs.
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: Returns list of shipping classes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductShippingClass'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      tags:
        - Product shipping classes
      summary: Create a shipping class
      operationId: createShippingClass
      requestBody:
        description: Shipping class object with data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductShippingClass'
        required: true
      responses:
        '201':
          description: Returns created shipping class
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductShippingClass'
  /products/shipping-classes/{classId}:
    get:
      tags:
        - Product shipping classes
      summary: Retrieve a shipping class
      operationId: retrieveShippingClass
      parameters:
        - name: classId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified shipping class
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductShippingClass'
    put:
      tags:
        - Product shipping classes
      summary: Update a shipping class
      operationId: updateShippingClass
      parameters:
        - name: classId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Shipping class object with data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductShippingClass'
        required: true
      responses:
        '200':
          description: Returns updated shipping class
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductShippingClass'
    delete:
      tags:
        - Product shipping classes
      summary: Delete a shipping class
      operationId: deleteShippingClass
      parameters:
        - name: classId
          in: path
          required: true
          schema:
            type: integer
        - name: force
          in: query
          required: true
          description: Required to be true, as resource does not support trashing.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Shipping class deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductShippingClass'
  /products/shipping-classes/batch:
    post:
      tags:
        - Product shipping classes
      summary: Batch update shipping classes
      operationId: batchUpdateShippingClasses
      requestBody:
        description: Batch create, update, delete shipping classes
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductShippingClass'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductShippingClass'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Returns batch operation result
          content:
            application/json:
              schema:
                type: object
  /products/tags:
    post:
      tags:
        - Product tags
      summary: This API helps you to create a new product tag.
      operationId: createProductTag
      requestBody:
        description: Product tag object with data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTag'
        required: true
      responses:
        '201':
          description: Returns created product tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTag'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    get:
      tags:
        - Product tags
      summary: This API lets you retrieve all product tags.
      operationId: listAllProductTags
      parameters:
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response
          schema:
            type: string
            enum: [view, edit]
            default: view
        - name: page
          in: query
          description: Current page of the collection
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: Limit results to those matching a string
          schema:
            type: string
        - name: exclude
          in: query
          description: Ensure result set excludes specific ids
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: Limit result set to specific ids
          schema:
            type: array
            items:
              type: integer
        - name: offset
          in: query
          description: Offset the result set by a specific number of items
          schema:
            type: integer
        - name: order
          in: query
          description: Order sort attribute ascending or descending
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: orderby
          in: query
          description: Sort collection by resource attribute
          schema:
            type: string
            enum: [id, include, name, slug, term_group, description, count]
            default: name
        - name: hide_empty
          in: query
          description: Whether to hide resources not assigned to any products
          schema:
            type: boolean
            default: false
        - name: product
          in: query
          description: Limit result set to resources assigned to a specific product
          schema:
            type: integer
        - name: slug
          in: query
          description: Limit result set to resources with a specific slug
          schema:
            type: string
      responses:
        '200':
          description: Returns list of product tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductTag'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /products/tags/{tagId}:
    get:
      tags:
        - Product tags
      summary: This API lets you retrieve a product tag by ID.
      operationId: retrieveProductTag
      parameters:
        - name: tagId
          in: path
          description: ID of product tag to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified product tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTag'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      tags:
        - Product tags
      summary: This API lets you make changes to a product tag.
      operationId: updateProductTag
      parameters:
        - name: tagId
          in: path
          description: ID of product tag to update
          required: true
          schema:
            type: integer
      requestBody:
        description: Product tag object with data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTag'
        required: true
      responses:
        '200':
          description: Returns updated product tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTag'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    delete:
      tags:
        - Product tags
      summary: This API helps you delete a product tag.
      operationId: deleteProductTag
      parameters:
        - name: tagId
          in: path
          description: ID of product tag to delete
          required: true
          schema:
            type: integer
        - name: force
          in: query
          description: Required to be true, as resource does not support trashing
          required: true
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Product tag deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTag'
  /products/tags/batch:
    post:
      tags:
        - Product tags
      summary: Batch create, update, and delete product tags
      operationId: batchProductTags
      requestBody:
        description: Batch create, update, and delete product tags
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductTag'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductTag'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Batch operation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  create:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTag'
                  update:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTag'
                  delete:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTag'
  /orders:
    post:
      tags:
        - Orders
      summary: This API helps you to create a new order.
      operationId: createOrder
      requestBody:
        description: Order object with data to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        required: true
      responses:
        '201':
          description: Returns created order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - Orders
      summary: This API helps you to view all the orders.
      operationId: listAllOrders
      parameters:
        - name: context
          in: query
          description: 'Scope under which the request is made; determines fields present in response. Options: view and edit. Default is view.'
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
        - name: page
          in: query
          description: 'Current page of the collection. Default is 1.'
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: 'Maximum number of items to be returned in result set. Default is 10.'
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: 'Limit results to those matching a string.'
          schema:
            type: string
        - name: after
          in: query
          description: 'Limit response to resources published after a given ISO8601 compliant date.'
          schema:
            type: string
            format: date-time
        - name: before
          in: query
          description: 'Limit response to resources published before a given ISO8601 compliant date.'
          schema:
            type: string
            format: date-time
        - name: modified_after
          in: query
          description: 'Limit response to resources modified after a given ISO8601 compliant date.'
          schema:
            type: string
            format: date-time
        - name: modified_before
          in: query
          description: 'Limit response to resources modified before a given ISO8601 compliant date.'
          schema:
            type: string
            format: date-time
        - name: dates_are_gmt
          in: query
          description: 'Whether to consider GMT post dates when limiting response by published or modified date.'
          schema:
            type: boolean
        - name: exclude
          in: query
          description: 'Ensure result set excludes specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: 'Limit result set to specific ids.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: offset
          in: query
          description: 'Offset the result set by a specific number of items.'
          schema:
            type: integer
        - name: order
          in: query
          description: 'Order sort attribute ascending or descending. Options: asc and desc. Default is desc.'
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: orderby
          in: query
          description: 'Sort collection by object attribute. Options: date, modified, id, include, title and slug. Default is date.'
          schema:
            type: string
            enum:
              - date
              - modified
              - id
              - include
              - title
              - slug
            default: date
        - name: parent
          in: query
          description: 'Limit result set to those of particular parent IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: parent_exclude
          in: query
          description: 'Limit result set to all items except those of a particular parent ID.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: status
          in: query
          description: 'Limit result set to orders assigned a specific status. Options: any, pending, processing, on-hold, completed, cancelled, refunded, failed and trash. Default is any.'
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - any
                - pending
                - processing
                - on-hold
                - completed
                - cancelled
                - refunded
                - failed
                - trash
              default: any
        - name: customer
          in: query
          description: 'Limit result set to orders assigned a specific customer.'
          schema:
            type: integer
        - name: product
          in: query
          description: 'Limit result set to orders assigned a specific product.'
          schema:
            type: integer
        - name: dp
          in: query
          description: 'Number of decimal points to use in each resource. Default is 2.'
          schema:
            type: integer
            default: 2
      responses:
        '200':
          description: Returns list of orders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: This API lets you retrieve and view a specific order.
      operationId: retrieveOrderById
      parameters:
        - name: orderId
          in: path
          description: ID of order to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      tags:
        - Orders
      summary: 'This API lets you make changes to an order.'
      operationId: updateOrderById
      parameters:
        - name: orderId
          in: path
          description: 'ID of order to update'
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Order object with data to update.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        required: true
      responses:
        '200':
          description: 'Returns updated order.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-codegen-request-body-name: order
    delete:
      tags:
        - Orders
      summary: This API helps you delete an order.
      operationId: deleteOrderById
      parameters:
        - name: orderId
          in: path
          description: ID of order to delete
          required: true
          schema:
            type: integer
        - name: force
          in: query
          description: Required to be true, as resource does not support trashing.
          required: true
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Returns deleted order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /orders/batch:
    post:
      tags:
        - Orders
      summary: Batch create, update, and delete orders
      operationId: batchOrders
      requestBody:
        description: Batch create, update, and delete orders
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/Order'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/Order'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Batch operation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  create:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  update:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  delete:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
  /products/reviews:
    get:
      tags:
        - Product reviews
      summary: List all product reviews
      operationId: listAllProductReviews
      parameters:
        - name: context
          in: query
          description: >-
            Scope under which the request is made; determines fields present in response.
            Options: view and edit. Default is view.
          schema:
            type: string
            enum:
              - view
              - edit
            default: view
        - name: page
          in: query
          description: Current page of the collection. Default is 1.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set. Default is 10.
          schema:
            type: integer
            default: 10
        - name: search
          in: query
          description: Limit results to those matching a string.
          schema:
            type: string
        - name: after
          in: query
          description: Limit response to reviews published after a given ISO8601 compliant date.
          schema:
            type: string
            format: date-time
        - name: before
          in: query
          description: Limit response to reviews published before a given ISO8601 compliant date.
          schema:
            type: string
            format: date-time
        - name: exclude
          in: query
          description: 'Ensure result set excludes specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: include
          in: query
          description: 'Limit result set to specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: offset
          in: query
          description: Offset the result set by a specific number of items.
          schema:
            type: integer
        - name: order
          in: query
          description: 'Order sort attribute ascending or descending. Options: asc and desc. Default is desc.'
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: orderby
          in: query
          description: 'Sort collection by resource attribute. Options: date, date_gmt, id, slug, include and product. Default is date_gmt.'
          schema:
            type: string
            enum:
              - date
              - date_gmt
              - id
              - slug
              - include
              - product
            default: date_gmt
        - name: reviewer
          in: query
          description: 'Ensure result set excludes specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: reviewer_exclude
          in: query
          description: 'Limit result set to specific IDs.'
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: reviewer_email
          in: query
          description: Limit result set to that from a specific author email.
          explode: false
          schema:
            type: array
            items:
              type: integer
        
        - name: product
          in: query
          description: Limit result set to reviews assigned to specific product IDs
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: status
          in: query
          description: 'Limit result set to reviews assigned a specific status. Options: all, hold, approved, spam and trash. Default is approved.'
          schema:
            type: string
            enum:
              - all
              - hold
              - approved
              - spam
              - trash
            default: approved
      responses:
        '200':
          description: Returns list of product reviews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductReview'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      tags:
        - Product reviews
      summary: Create a product review
      operationId: createProductReview
      requestBody:
        description: Product review object with data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductReview'
        required: true
      responses:
        '201':
          description: Returns created product review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReview'
  /products/reviews/{reviewId}:
    get:
      tags:
        - Product reviews
      summary: Retrieve a product review
      operationId: retrieveProductReview
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns specified product review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReview'
    put:
      tags:
        - Product reviews
      summary: Update a product review
      operationId: updateProductReview
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Product review object with data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductReview'
        required: true
      responses:
        '200':
          description: Returns updated product review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReview'
    delete:
      tags:
        - Product reviews
      summary: Delete a product review
      operationId: deleteProductReview
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
        - name: force
          in: query
          required: true
          description: Required to be true, as resource does not support trashing.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Product review deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReview'
  /products/reviews/batch:
    post:
      tags:
        - Product reviews
      summary: Batch update product reviews
      operationId: batchUpdateProductReviews
      requestBody:
        description: Batch create, update, delete product reviews
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductReview'
                update:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductReview'
                delete:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Returns batch operation result
          content:
            application/json:
              schema:
                type: object
  /reports:
    get:
      tags:
        - Reports
      summary: List all reports
      operationId: listAllReports
      responses:
        '200':
          description: Returns list of available reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportListItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /reports/top_sellers:
    get:
      tags:
        - Reports
      summary: Retrieve top sellers report
      operationId: getTopSellersReport
      parameters:
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response. Default is view.
          schema:
            type: string
            default: view
        - name: period
          in: query
          description: 'Report period. Default is week. Options: week, month, last_month, year'
          schema:
            type: string
            enum: [week, month, last_month, year]
        - name: date_min
          in: query
          description: Return sales for a specific start date (YYYY-MM-DD)
          schema:
            type: string
        - name: date_max
          in: query
          description: Return sales for a specific end date (YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: Returns top sellers report
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportTopSellersItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /reports/coupons/totals:
    get:
      tags:
        - Reports
      summary: Retrieve coupons totals report
      operationId: getCouponsTotals
      responses:
        '200':
          description: Returns coupons totals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportTotalsItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /reports/customers/totals:
    get:
      tags:
        - Reports
      summary: Retrieve customers totals report
      operationId: getCustomersTotals
      responses:
        '200':
          description: Returns customers totals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportTotalsItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /reports/orders/totals:
    get:
      tags:
        - Reports
      summary: This API lets you retrieve and view orders totals report.
      operationId: reportOrderTotalsSummary
      responses:
        '200':
          description: Returns list of products.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportOrderTotalSummary'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /reports/products/totals:
    get:
      tags:
        - Reports
      summary: Retrieve products totals report
      operationId: getProductsTotals
      responses:
        '200':
          description: Returns products totals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportTotalsItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /reports/reviews/totals:
    get:
      tags:
        - Reports
      summary: Retrieve reviews totals report
      operationId: getReviewsTotals
      responses:
        '200':
          description: Returns reviews totals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportTotalsItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
[...]
